p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: auto;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
}

.container {
    max-width: 1920px;
    height: 844px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
body {
    font-family: Roboto, sans-serif;
    color: #000;
}
.first{
    border: 2px solid rgba(246, 190, 145, 1);
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url(./img/—Pngtree—green\ fresh\ sky\ grass\ illustration_920699\ 2.jpg);

}
.header-block{
    display: flex;
    position:relative;
    align-items: center;
    width: 1162px;
    height: 113px;
    margin: 23px auto;

}
.petnaturals{
    width: 283px;
    height: 89px;
       
}
.petnaturals-menu{
    width: 446px;
    height: 102px;
    margin-left: 387px;
        
}
.title-section-first{
    font-size: 52px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;

    color: rgba(249, 233, 148, 1);
}
.petnaturals-menu-nav{
  display: flex;
  position:absolute;
  list-style: none;
  gap: 51px;
  top: 43px;
  right: 120px;
}
.link{ 
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    text-align: left;
    color: rgba(113, 93, 0, 1);
}
.link:hover,
.link:focus{
    color: blue;
}
.block-info{
    display: flex;
    position: relative;
    width: 1184px;
    margin: auto;
    gap:484px;

}
.block-text{
    height: 428px;
    margin-top: 42px;
}
.text-section-first{
    font-size: 26px;
    font-weight: 700;
    line-height: 34px;
    text-align: left;
    color: #F6F7E4;
    padding-bottom: 60px;
}
.block-list{
    display: flex;
    width: 323px;
    height: 266px;
    background-color: #7FB3E1;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    padding: 35px 0px 38px 35px;
    gap: 20px;

    color: #DFE4DE ;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.2;
    text-align: left;
}
.cats{
    width: 710px;
    height: 417px;
    position: absolute;
    left: 244px;
    top: 52px;
    

}

.block-forma{
    width: 270px;
    height: 462px;
    background-color: #F6F7E4;
    border-radius: 20px 20px 10px 10px;
    padding: 24px 24px 20px 24px;
}


/* ---------------------section 2 ------------------*/
.section-second{
    background-image: url(./img/pngegg\ \(1\)\ 22.jpg);
    padding-top: 100px ;
    padding-bottom: 100px;
}
.title-section-second{
   color: linear-gradient(180deg, #F9E994 0%, #537D13 56.25%, #483C08 100%);;
}
.block-cards{
    display:flex;
    gap: 84px;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

.block-second{
    width: 305px;
    height: 439px;
    border-radius: 20px;
    background-color: #F6E791;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 14px;
}
.img-stction-second{
    width: 164px;
    height: 164px;
    margin: 25px auto;
    
}
.block-second-text{
    width: 275px;
    height: 200px;
    margin: 0 auto;
    border-radius: 20px;
    background-color: rgba(161, 211, 55, 0.4);
    padding: 14px 16px 22px 16px;
   
    
}
.text-title{
    font-size: 22px;
    font-weight: 700;
    line-height: 25.78px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 20px;
}
.text-info-second{
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
    text-align: center;
    color: rgba(72, 60, 8, 1);;
}

/* ------------------------------section3 --------------------*/

.section-fird{
background-image: linear-gradient(#E1EDF8, rgba(127, 179, 225, 0), rgba(0, 0, 0, 0.25));
padding-top: 100px;
}
.block-section-third{
    display: flex;
    position: relative;
    width: 1088px;
    height: 354px;
    margin: 58px auto;
    gap: 28px;
}
.img-block{
    width: 760px;
    height: 354px;
}
.img-cat{
    width: 300px;
    height: 300px;
}
.img-grass{
    margin-top: 128px;
}
.img-block-text{
    position: absolute;
    width: 622px;
    height: 273px;
    left: 260px;
    bottom: -1640px;
    
}
.text-in-block{
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
    margin-bottom: 20px;
}
